gemini-dropdown{

    position: absolute;
    top: 0;
    left: 0;
    
    z-index: 210000;

    opacity: 0;
    pointer-events: none;

}

gemini-dropdown gemini-outline{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* gap: 5px; */
    
    height: 30px !important;
    /* width: 30px !important; */
    padding: 0 5px !important;
    
    border-radius: 10px;
    
    background-color: white;
    
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 0px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);

    opacity: 0;
    transform: translateY(-25%);
    transition: 0.4s;
    
    cursor: pointer;
    pointer-events: none;
}


gemini-dropdown.active{
    opacity: 1;
    pointer-events: all;
    display: unset;
}
gemini-dropdown.active gemini-outline{
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

gemini-dropdown gemini-outline .gemini-input{
    height: calc(100% - 10px) !important;
    
    outline:none;
    border:none;

    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;

    background: linear-gradient(
        to right,
        #000000 20%,
        #00affa 30%,
        #aa98ae 70%,
        #000000 80%
        );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in infinite;

    cursor: pointer;
    user-select: none;
}

gemini-outline button{
    margin: 0;
    padding: 0;
    
    background-color: transparent;
    border: none;
    
    height: calc(100% - 10px) !important;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

gemini-outline button img{
    /* height: calc(100% - 10px) !important;
    aspect-ratio: 1/1; */

    height: 100%;
    width: 100%;;

    /* width: calc(100% - 10px) !important; */
    pointer-events: none;
    user-select: none;

    transform: scale(0.7);
    transition: 0.4s;
}

gemini-dropdown.active button:hover img{
    transform: scale(1);
}


/* ___________________________ Highlight CSS ______________________________ */

gemini-highlight{
    display: none;
    opacity: 0;

    transition: 0.4s;
}

gemini-highlight.active{
    --color-main: #7ECEFF7e;
    --color-glare: #f9ddff7e;

    display:inline;
    opacity: 1;

    border-radius: 2px;
    /* background: linear-gradient(0deg, var(--color-main) ,var(--color-main), var(--color-main), var(--color-glare), #00000000, #00000000, #00000000); */
    background: linear-gradient(0deg, var(--color-main) ,var(--color-main), var(--color-main), var(--color-glare), var(--color-main), var(--color-main), var(--color-main));
    background-size: 400% 400%;
    animation: gradient 3s linear infinite;
}

gemini-highlight.active.enter{
    --color-main: #7ECEFF7e;
    /* --color-main: ; */
    --color-glare: #f9ddff7e;

    display:inline;
    opacity: 1;

    border-radius: 2px;
    background: linear-gradient(0deg, var(--color-main) ,var(--color-main), var(--color-main), var(--color-glare), #00000000, #00000000, #00000000);
    /* background: linear-gradient(0deg, var(--color-main) ,var(--color-main), var(--color-main), var(--color-glare), var(--color-main), var(--color-main), var(--color-main)); */
    background-size: 400% 400%;
    animation: gradient 3s linear infinite;
}

gemini-highlight.active.hover{
    --color-main: #7eceff30;
    --color-glare: #f9ddff29;

    opacity: 1;
    background: linear-gradient(0deg, var(--color-main) ,var(--color-main), var(--color-main), var(--color-glare), var(--color-main), var(--color-main), var(--color-main));
    background-size: 400% 400%;
    animation: gradient 3s linear infinite;
}

gemini-highlight-short{

    --text-color: #000;

    /* display: none; */
    opacity: 0;
    transition: 0.4s;
    font-style: normal;
    font-weight: normal;
}

gemini-highlight-short.active{
    --color-main: #7ECEFF7e;
    --color-glare: #f9ddff7e;
    /* display: inline; */

    opacity: 1;
    
    font-style: normal;
    font-weight: normal;
    border-radius: 2px;
    
    background: linear-gradient(
        to right,
        var(--text-color) 20%,
        #00affa 30%,
        #aa98ae 70%,
        var(--text-color) 80%
        );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in infinite;
}

gemini-highlight-short.active.hover{
    opacity: 1;
    
    font-style: normal;
    font-weight: normal;
    border-radius: 2px;

    color: var(--text-color);

    background: none;
    -webkit-background-clip: unset;
    background-clip: unset;
    -webkit-text-fill-color:unset;
    text-fill-color: unset;
    background-size: unset;
}

gemini-highlight-short.active.enter{
    /* display: inline; */

    opacity: 1;
    
    font-style: normal;
    font-weight: normal;
    border-radius: 2px;
    background: linear-gradient(
        to right,
        #00000000 20%,
        #00affa 30%,
        #aa98ae 70%,
        var(--text-color) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in infinite;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 50% 0%;
        opacity: 1;
	}
	50% {
        background-position: 50% 100%;
        opacity: 0.8;
	}
    100% {
        background-position: 50% 100%;
        opacity: 1;
	}
}


/* custom toggle css */

.custom-switch{
    --switch-width: 30px;
	--switch-height: calc(var(--switch-width) / 1.8);

	--switch-background: #7ECEFF;
	--thumb-height: calc(4 * (var(--switch-height) / 6));
	--thumb-width: var(--thumb-height);
	--thumb-background: #fff;
	--gap-vertical: calc((var(--switch-height) / 6));
	--gap-side: calc(var(--switch-width) / 10);
	--border-radius: var(--switch-width);

    margin-left: 3px;
    margin-right: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.custom-switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}
.custom-switch label {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    text-indent: -9999px;
    width: var(--switch-width);
    max-width: 80vw;
    height: var(--switch-height);
    background: var(--switch-background);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}
.custom-switch label:after {
    content: '';
    position: absolute;
    top: var(--gap-vertical);
    left: var(--gap-side);
    width: var(--thumb-width);
    height: var(--thumb-height);
    background: var(--thumb-background);
    border-radius: 100px;
    transition: 0.3s;
}
.custom-switch input:checked + label {
    background: var(--switch-background);
}
.custom-switch input:checked + label:after {
    left: calc(90%);
    transform: translateX(-100%);
}
.custom-switch label:active:after {
    width: calc(var(--switch-width) / 2);
}
